.nav {
  position: relative;
  transition: color 0.5s;
}

.nav::after {
  position: absolute;
  content: "";
  height: 6px;
  left: 0;
  bottom: -16px;
  border-radius: 6px;
  background-color: transparent;
  width: 100%;
  transition: 0.25s;
  margin: 0 auto;
}

/* @media only screen and (min-width: 768px) {
  .nav::after {
    bottom: -16px;
  }
} */

.nav.active::after {
  background-color: #f2994a;
}
