.nav {
  position: relative;
  transition: color 0.5s;
}

.nav.active {
}

.nav::after {
  position: absolute;
  content: "";
  height: 2px;
  left: 0;
  bottom: -10px;
  background-color: transparent;
  width: 100%;
  transition: 0.25s;
  margin: 0 auto;
}

/* @media only screen and (min-width: 768px) {
  .nav::after {
    bottom: -16px;
  }
} */

/* .nav:hover::after {
  background-color: #30363d;
} */

.nav.active::after {
  background-color: #f78166;
}
